<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Input for stock plotting application.">
    <meta name="author" content="@mhumbert">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Michael Humbert Stock Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <div class=page>
  <div class=metanav>
  <form id='input' method='post' action='/' >
    <h2>Input Stock Data</h2>
      <p>
      Stock Ticker: <input type='text' name='Stock Ticker' placeholder='MMM'>
      </p>
      <p>
      Starting Date: <input type='text' name='Starting Date' placeholder='yyyy-mm-dd'>
      </p>
      <p>
      Ending Date: <input type='text' name='Ending Date' placeholder='yyyy-mm-dd'>
      </p>
      <p>
      <input type='submit' value='Submit'>
      </p>
  </form>
  </div>
  </div>
</html>
